@page "/finance/income"
@using Litehome.Services.Interfaces
@inject IHomeMemberService HomeMemberService
@inject IIncomeService IncomeService

<MudStack Class="flex-grow-1">
    <MudText Typo="Typo.h4">Monthly Income Overview</MudText>
    <MudGrid Class="flex-grow-1">
        @foreach (var member in HomeMemberService.Members)
        {
            <MudItem xs="4">
                <a href="/finance/income/@member.Id">
                    <MudPaper Class="p-4">
                        <MudStack>
                            <MudText>@member.Name</MudText>
                            <MudDivider FlexItem="false" Light="true"/>
                            <MudText>@IncomeService.Incomes.Where(x => x.HomeMember == member).Sum(x => x.MonthlyAmount) €</MudText>
                        </MudStack>
                    </MudPaper>
                </a>
            </MudItem>
        }
    </MudGrid>
</MudStack>

@code {

    protected override async Task OnInitializedAsync()
    {
        await HomeMemberService.LoadMembers();
        await IncomeService.LoadIncomes();
    }

}